
  input:focus {
    background-color: aquamarine;
  }
 form:hover{
     background-color: rgb(247, 248, 200);
 }
  @media screen and (max-width: 500px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }